body,
body *,
*:after,
*:before {
    padding: 0;
    margin: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body * {
  font-family: 'Raleway', sans-serif;
}

h1 {
  display: none;
}
a,
a:visited {
  color: #000000;
}

p {
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
}

input[type="mail"],
input[type="text"],
input[type="tel"] {
  height: 54px;
  border: 1px solid #262626;
  outline: none;  
}

.btn {
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;

  font-family: 'Raleway';
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;

  color: #ffffff;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.3);
}

/*---GRID---*/
.grid-container{
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.grid-container.reversed{
  flex-direction: row-reverse;
}


[class*='col-'] {
  padding-right: 20px;
  position: relative;
}

.pull-right{
  float: right;
}

.col-1-1 {
  width: 100%;
}

.col-1-2 {
  width: 50%;
}

.text{
  font-size: 17px;
}
/*---NAVIGATION---*/
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  z-index: 3;
      -webkit-transition: background-color 1s, padding 1s;
    -moz-transition: background-color 1s, padding 1s;
    -o-transition: background-color 1s, padding 1s;
    transition: background-color 1s, padding 1s;
}

.nav-content{
  max-width: 1200px;
  margin: 0 auto;
  /*margin-top: 50px;*/

}

.nav .nav-list {
  float: right;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  margin-top: 20px;
}
.nav .nav-list .nav-list-item:last-child{
  margin-right: 0;
}
.nav .nav-list .nav-list-item {
  display: inline;
  text-transform: uppercase;
  margin-right: 30px;
}

.nav-list .nav-list-item a {
  position: relative;
  text-decoration: none;
  padding-top: 6px;
}

.nav-list .nav-list-item a::before{
    transition: background-color 300ms ease-in;
    background-color: transparent;
    content: '';
    height: 4px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    width: 100%;
}

.nav-list .nav-list-item a:hover::before,
.nav-list .nav-list-item a.active-item::before {
    background-color: #ff6033;
}

.nav-scroll{
  background-color: #ffffff;
  padding: 10px 0;
}

.nav-scroll .nav-content{
  margin-top: 0;  
}
/*---HEADER---*/
.head {
  background: #ffffff;
  background: url("./img/strawberry.png") no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.head .title {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 12px;
}

.head .grid-container {
  padding-top: 147px;
  min-height: 100vh;
  position: relative;
}

.head .content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.head .btn.get-free {
  background: #ff6033;
  margin-top: 32px;
}

.btn-scroll {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  /*animation: blinker 2s linear infinite;*/
  opacity: 1;
  transition: opacity 300ms ease-out, visibility 300ms ease-out;
}

.btn-scroll.hidden{
  opacity: 0;
  visibility: hidden;
}

.hidden {
  display: none;
  visibility: hidden;
}



@keyframes blinker {  
  50% { opacity: 0; }
}
/*--MAIN--*/
/*ABOUT*/
.about {
  background: #00b2b2;
  min-height: 700px;
}
.about .grid-container{
  min-height: 700px;
  padding: 0;
}
.about .header,
.about .text{
  margin-left: 40px;
}
.about .header,
.services .header{
  color: #ffffff;
  font-size: 90px;
  margin-bottom: 30px;
}
.about .text{
  color: #ffffff;
  font-size: 17px;
}
.about .text:first-of-type{
  margin-bottom: 10px;
}
.about img
{
  width: 100%;
}

/*SERVICES*/
.services {
  background: #70bfff;
  min-height: 790px;
}
.services .grid-container{
  min-height: 790px;
}
.services .header{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.services-list{
  list-style: none;
}

.service-item{
  max-width: 400px;
  height: 100px;
  margin-bottom: 22px;
  font-size: 20px;
  background: #ffffff;
  color: #000000;
  -webkit-box-shadow: 7px 7px 10px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 7px 7px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 7px 7px 10px 1px rgba(0,0,0,0.5);
}

.service-item:hover{
  color: #ff6033;
}

.service-item .category{
  width: 75%;
  float: left;
  text-align: center;
}

.category strong{
  width: 100%;
}

.category strong,
.category-picture img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-item .category-picture{
  width: 25%;
  border-left: 1px solid #000000;
  float: left
}

.service-item .category,
.service-item .category-picture{
  height: 100px;
  position: relative;
}
/*GALLERY*/
.gallery {
  background: #ffe92f;
  min-height: 1536px;
  position: relative;
}
.gallery .header{
  text-align: center;
  font-size: 90px;
  margin-top: 100px;
  margin-bottom: 30px;
}
.gallery .grid-container{
  display: block;
}
.gallery .text{
  text-align: center;
  max-width: 600px;
  margin: auto;
  margin-bottom: 50px;
}
.gallery-row{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.gallery-col{
  display: flex;
}
.gallery-col img{
  width: 50%;
  -webkit-box-shadow: 6px 6px 25px -6px rgba(0,0,0,0.41);
  -moz-box-shadow: 6px 6px 25px -6px rgba(0,0,0,0.41);
  box-shadow: 6px 6px 25px -6px rgba(0,0,0,0.41);
}
.gallery-col.main{
  width: 70%;
  padding-right: 30px;
}

.gallery-col.main img,
.gallery-col.side img{
  width: 100%;
  flex-grow: 1.1;
}
.gallery-col.side{
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-right: 0;
}
.gallery-col.side img:first-child{
  margin-bottom: 30px;
}
.gallery-col.full{
  justify-content: space-between;
  width: 100%;
}

.gallery-col.full img:first-child{
  margin-right: 30px;
}


.view-more{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5585a2;
}

.subscribe {
  background: #ffffff;
  background: url("./img/whortleberry.png") 85% center no-repeat;
  min-height: 500px;
}
.subscribe .grid-container{
  display: block;
  margin: 0 auto;
}

.subscribe .header{
  margin-top: 148px;
  font-size: 40px;
}

.subscribe .text{
  margin-bottom: 40px;
  max-width: 550px;
}

.subscribe input{
  width: 570px;
  padding-left: 15px;
  font-size: 15px;
}
.btn.btn-subscribe{
  background-color: #96b92c;
  margin-left: 30px;
}
.blog {
  background: #b07cf7;
  position: relative;
  min-height: 866px;
}

.blog .grid-container,
.contact .grid-container{
  display: block;
}

.blog .header,
.blog .text{
  text-align: center;
  color: #ffffff;
}

.blog .header,
.contact .header{
  font-size: 90px;
  margin-top: 80px;
}

.blog .text{
  margin: 30px auto;
  max-width: 553px;
}

.blog .latest-posts{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  
}

.post{
  -webkit-box-shadow: 6px 6px 25px -6px rgba(0,0,0,0.41);
  -moz-box-shadow: 6px 6px 25px -6px rgba(0,0,0,0.41);
  box-shadow: 6px 6px 25px -6px rgba(0,0,0,0.41);
  position: relative;
  cursor: pointer;
  width: 370px;
}

.post .post-time{
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 5px;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  width: 60px;
  height: 60px;
}

.post:after{
  content: '';
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-box-shadow: inset 0px -135px 15px -10px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px -135px 15px -10px rgba(0,0,0,0.5);
  box-shadow: inset 0px -135px 15px -10px rgba(0,0,0,0.5);
}

.post .post-time small{
  display: block;
  font-size: 21px;
  margin-top: -5px;
  text-transform: uppercase;
}

.post .post-header{
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: #ffffff;
  padding: 0 20px;
  z-index: 2;
}

.post .post-image{
  height: 100%;
  width: 100%;
}

.post-header .post-title{
  margin-bottom: 20px;
  font-size: 20px;
}
.post-header .post-title + p{
  font-size: 13px;
}

/*.post:hover .post-time,*/
.post:hover .post-header h3{  
    text-decoration: underline;
}

.btn.view-more{
  color: #ffffff;
  background-color: #f72b3b;
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
}
.contact {
  background: #ffffff;
  background: url("./img/contact-background.png");
  background-size: cover;
  min-height: 866px;
}

.contact .text{
  margin: auto;
  max-width: 385px;
}


.contact .header,
.contact .text{
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}


.contact-form input,
.contact-form textarea{
  background-color: #00c4c4;
  background-color: rgba(0, 196, 196, 0.5);
  
  border: none;
  color: #ffffff;
  padding: 0 15px;
  height: 50px;
  width: 100%;
  max-width: 500px;
  margin-bottom: 15px;
  display: block;
  outline: none;
  font-size: 15px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-left: 5px solid #355b82;
  padding-left: 10px;
  background-color: rgba(0, 196, 196, 1);
  font-weight: 700;
}

.contact-form textarea{
  height: 250px;
  padding: 15px;
  resize: none;
  overflow: auto;
}

.contact .contact-form label { 
  visibility: hidden;
  display:none;
}
.contact-info{
  padding: 0 85px;
}
.contact-info p{

  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-info a,
.contact-info .company-address{
  font-size: 20px;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
}

.contact ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}
.contact ::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}
.contact  :-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}
.contact  :-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}

.btn.send {
  background-color: #f12b55;
  display: block;
  left: 50%;
  position: relative;
  transform: translateX(-150px);
}

.grid-row {
   display: flex;
   margin-top: 50px;
}
/*--FOOTER--*/
.footer {
  background: #262626;
  min-height: 90px;
  color: #b9b9b9;
  font-size: 15px;
}

.footer .grid-container{
  justify-content: space-between;
  min-height: 90px;
}

.footer span{
  color: #f12b55;
}
