body *,
*:after,
*:before {
    padding: 0;
    margin: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body * {
  font-family: 'Raleway', sans-serif;
}

h1 {
  display: none;
}
a,
a:visited {
  color: #000000;
}

p {
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
}

.btn {
  width: 200px;
  height: 50px;
  border: none;

  font-family: 'Raleway';
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;

  color: #ffffff;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.3);
}

/*---GRID---*/
.grid-container{
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.grid-container.reversed{
  flex-direction: row-reverse;
}


[class*='col-'] {
  padding-right: 20px;
  position: relative;
}

.pull-right{
  float: right;
}

.col-1-1 {
  width: 100%;
}

.col-1-2 {
  width: 50%;
}

/*---NAVIGATION---*/
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 147px;
  padding: 20px 0;

  margin-top: 50px;
  margin: 0 auto;
  max-width: 1200px;
  z-index: 2;
}

.nav .nav-list {
  float: right;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  margin-top: 20px;
}
.nav .nav-list .nav-list-item:last-child{
  margin-right: 0;
}
.nav .nav-list .nav-list-item {
  display: inline;
  text-transform: uppercase;
  margin-right: 30px;
}

.nav-list .nav-list-item a {
  text-decoration: none;
  padding-top: 6px;
}

.nav-list .nav-list-item a:hover,
.active-item {
  border-top: 3px solid #ff6033;
}

/*---HEADER---*/
.head {
  background: #ffffff;
  background: url("./img/strawberry.png") no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.head .title {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 12px;
}

.head .grid-container {
  padding-top: 147px;
  min-height: 100vh;
  position: relative;
}

.head .content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.head .btn.get-free {
  background: #ff6033;
  margin-top: 32px;
}

.head .btn-scroll {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
/*--MAIN--*/
/*ABOUT*/
.about {
  background: #00b2b2;
  min-height: 700px;
}
.about .grid-container{
  min-height: 700px;
  padding: 0;
}
.about .header,
.about .text{
  margin-left: 40px;
}
.about .header,
.services .header{
  color: #ffffff;
  font-size: 90px;
  margin-bottom: 30px;
}
.about .text{
  color: #ffffff;
  font-size: 17px;
}
.about .text:first-of-type{
  margin-bottom: 10px;
}
.about img
{
  width: 100%;
}

/*SERVICES*/
.services {
  background: #70bfff;
  min-height: 790px;
}
.services .grid-container{
  min-height: 790px;
}
.services .header{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.services-list{
  list-style: none;
}

.service-item{
  max-width: 400px;
  height: 100px;
  margin-bottom: 22px;
  font-size: 20px;
  background: #ffffff;
  color: #000000;
  -webkit-box-shadow: 7px 7px 10px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 7px 7px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 7px 7px 10px 1px rgba(0,0,0,0.5);
}

.service-item:hover{
  color: #ff6033;
}

.service-item .category{
  width: 75%;
  float: left;
  text-align: center;
}

.category strong{
  width: 100%;
}

.category strong,
.category-picture img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-item .category-picture{
  width: 25%;
  border-left: 1px solid #000000;
  float: left
}

.service-item .category,
.service-item .category-picture{
  height: 100px;
  position: relative;
}
/*GALLERY*/
.gallery {
  background: #ffe92f;
  min-height: 1536px;
  position: relative;
}
.gallery .header{
  text-align: center;
  font-size: 90px;
  margin-top: 100px;
  margin-bottom: 30px;
}
.gallery .grid-container{
  display: block;
}
.gallery .text{
  text-align: center;
  max-width: 600px;
  margin: auto;
  margin-bottom: 50px;
}
.gallery-row{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.gallery-col{
  display: flex;
  padding-right: 30px;
}
.gallery-col img{
  width: 50%;
}
.gallery-col.main{
  width: 70%;
  padding-right: 30px;
}
.gallery-col.main img,
.gallery-col.side img{
  width: 100%;
}
.gallery-col.side{
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-right: 0;
}

.gallery .view-more{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5585a2;
}
.subscribe {
  background: #ffffff;
  background: url("./img/subscribe-background.png") no-repeat;
  min-height: 500px;
}

.blog {
  background: #b07cf7;
  min-height: 866px;
}

.contact {
  background: #ffffff;
  background: url("./img/contact-background.png");
  background-size: cover;
  min-height: 866px;
}
/*--FOOTER--*/
.footer {
  background: #262626;
  min-height: 90px;
}
